<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Frontend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:comment>@todo Remove this when 7.6 is no longer relevant</f:comment>
<t3b:typo3Version version="8.0" operator="<">
	<f:then>
		<div class="typo3-messages">
			<div class="typo3-message {class}">
				<div class="message-header">{title}</div>
				<div class="message-body">
					<p>
						<f:format.raw>{content}</f:format.raw>
					</p>
				</div>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="alert {class}">
			<div class="media">
				<div class="media-left">
					<span class="fa-stack fa-lg">
					   <i class="fa fa-circle fa-stack-2x"></i>
					   <i class="fa fa-exclamation fa-stack-1x"></i>
					</span>
				</div>
				<div class="media-body">
					<h4 class="alert-title">{title}</h4>
					<p class="alert-message">
						<f:format.raw>{content}</f:format.raw>
					</p>
				</div>
			</div>
		</div>
	</f:else>
</t3b:typo3Version>

</div>