<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:if condition="{data.show}">
	<f:comment>@todo Remove this when 6.2 is no longer relevant</f:comment>
	<t3b:typo3Version version="7.2" operator="<">
		<f:then>
			<div class="typo3-messages">
				<div class="typo3-message {class}">
					<div class="message-header">{f:translate(key: 'module.message.pageNotice.title')}</div>
					<div class="message-body">
						<p>
							<f:render section="content" arguments="{_all}" />
						</p>
					</div>
				</div>
			</div>
		</f:then>
		<f:else>
			<f:be.infobox title="{f:translate(key: 'module.message.pageNotice.title')}" state="2">
				<f:render section="content" arguments="{_all}" />
			</f:be.infobox>
		</f:else>
	</t3b:typo3Version>
</f:if>

<f:section name="content">
	<f:translate key="module.message.pageNotice" />

	<f:for each="{data.pages}" as="page" iteration="iterator">
		<f:link.page additionalParams="{id: page.uid}">
			{page.title}
		</f:link.page>
		<f:if condition="{iterator.cycle} < {iterator.total}">,</f:if>
	</f:for>
</f:section>

</div>