<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Frontend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:if condition="{pendingComments}">
	<t3b:typo3Version version="8.0" operator="<">
		<f:then>
			<f:render partial="Backend/AlertHelper" arguments="{
				title: '{f:translate(key: \'module.message.pendingComments.title\')}',
				content: '{f:render(section: \'content\', arguments: \'{_all}\')}',
				class: 'message-information'
			}" />
		</f:then>
		<f:else>
			<f:render partial="Backend/AlertHelper" arguments="{
				title: '{f:translate(key: \'module.message.pendingComments.title\')}',
				content: '{f:render(section: \'content\', arguments: \'{_all}\')}',
				class: 'alert-info'
			}" />
		</f:else>
	</t3b:typo3Version>
</f:if>

<f:section name="content">
	<f:if condition="{addLink}">
		<f:then>
			<f:link.action controller="BackendComment" action="listPending">
				<f:translate key="module.message.pendingComments" arguments="{0: '{pendingComments -> f:count()}'}" />
			</f:link.action>
		</f:then>
		<f:else>
			<f:translate key="module.message.pendingComments" arguments="{0: '{pendingComments -> f:count()}'}" />
		</f:else>
	</f:if>
</f:section>

</div>